@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

html {
}

h1 {
    text-decoration: underline;
}

#MyLists {
    list-style-type: georgian;
    text-align: left;
}

#Bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-family: 'Rubik', sans-serif;
}

#ProjectsGrid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 80%;
    margin: auto;
}

.Project {
    display: flex;
    justify-content: center;
    height: 20rem;
    width: 100%;
    border-radius: 3rem;
    box-shadow: 1rem black;
}

#ProjectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.InnerText {
    display: block;
    box-sizing: border-box;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    line-height: 1;
    font-weight: 700;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: calc(1.375rem + 1.5vw);
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.AboutMeColumns {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    height: auto;

}

.Column1 {
    display: flex;
    flex-direction: column;
    background-color: hsl(31, 77%, 52%);
    width: 100%;
}

.Column1:hover, .Column2:hover, .Column3:hover {
    width: 120%;
    transition: 2s;
}

.infoColumn2 {
    display: flex;
    flex-direction: column;
}

.Column2 {
    background-color: hsl(184, 100%, 22%);
    width: 100%;
    transition: width 2s;
}


.Column3 {
    background-color: hsl(179, 100%, 13%);
    width: 100%;
    
}

#aboutMeImg {
    width: 150px;
    align-self: flex-end;


}

.AboutMeTitle {
    box-sizing: border-box;
    margin: 1rem;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 500;
    font-size: 18px;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.AboutMeInfo {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    margin: 1rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    text-align: justify;
    font-size: 1rem;
}

.JobHistory {
    box-sizing: border-box;
    margin-left: 2rem;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 500;
    font-size: 16px;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}


@media screen and (max-width: 1100px){
    .AboutMeColumns {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .Column1, .Column2, .Column3 {
        width: 90%;
        height: auto;
        margin: auto;
    }

    .infoColumn2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Column2 {
        flex-direction: row;
    }

    .Column1:hover, .Column2:hover, .Column3:hover {
        width: 90%;
        box-shadow: 0px 0px 50px black;
        transition: 2s;
    }
}
